<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>BuildVersion</key>
	<string>598</string>
	<key>ProjectName</key>
	<string>SimpleText</string>
	<key>ReleaseStatus</key>
	<string>GM</string>
	<key>SourceVersion</key>
	<string>320100</string>
</dict>
</plist>
